<div class="contenedor">
    <div class="item-1 seccion"></div>
    <div class="item-2 espacio my-auto">
      <button class="btn-nombre btn btn-outline-secondary">Lacteos</button>
    </div>
    <div class="item-3 seccion"></div>
    <div class="item-4 espacio my-auto">
      <button class="btn-nombre btn btn-outline-danger">Carnicos</button>
    </div>
    <div class="item-5 seccion"></div>
    <div class="item-6 espacio my-auto">
      <button class="btn-nombre btn btn-outline-success">
        Frutas y verduras
      </button>
    </div>
    <div class="item-7 seccion"></div>

    <div class="item-8 corredor"></div>

    <div class="item-9 seccion"></div>
    <div class="item-10 espacio my-auto">
      <button class="btn-nombre btn btn-outline-primary">
        Aseo personal
      </button>
    </div>
    <div class="item-11 seccion"></div>
    <div class="item-12 espacio my-auto">
      <button class="btn-nombre btn btn-outline-dark">Limpieza</button>
    </div>
    <div class="item-13 seccion"></div>
    <div class="item-14 espacio my-auto">
      <button class="btn-nombre btn btn-outline-warning">Abaceria 1</button>
    </div>
    <div class="item-15 seccion"></div>
  </div>
