<!-- <h1 class="text-center">
  Proyecto Final Computacion Ubicua: Simulacion de Supermercado
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <app-supermercado></app-supermercado>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">C.I.</span>
            </div>
            <input type="text" class="form-control" placeholder="cedula de identidad" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
        
        
                    <div class="iphone-x">
                        <i>Speaker</i>
                        <b>Camera</b>
                        <s>10:24</s>
                    
                        <div class="contenido-cell  h-100">
        
                          <app-aplicacion></app-aplicacion>
                            
        
                        </div>
                      </div>
                  
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="iphone-x">
                        <i>Speaker</i>
                        <b>Camera</b>
                        <s>10:24</s>
                        <div class="contenido-cell">        
                          <app-aplicacion></app-aplicacion>
                        </div>
                        
                      </div>
                </div>
            </div>
        
        
        
        </div>
        
          
          
        </div>
      </div>
    </div>
  </div>
</div> -->
